@font-face {
    font-family: 'sofia_prolight';
    src: url('/assets/fonts/SofiaProLight-webfont.eot');
    src: url('/assets/fonts/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/SofiaProLight-webfont.woff2') format('woff2'),
         url('/assets/fonts/SofiaProLight-webfont.woff') format('woff'),
         url('/assets/fonts/SofiaProLight-webfont.ttf') format('truetype'),
         url('/assets/fonts/SofiaProLight-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: Grotesk;
font-weight: normal;
src: url("/assets/fonts/PaulGrotesk-Regular-Trail.otf"); format("opentype");
}

@font-face {
font-family: Grotesk-Bold;
font-weight: bold;
src: url("/assets/fonts/PaulGrotesk-Bold-Trail.otf"); format("opentype");
}

@font-face {
font-family: Grotesk-Thin;
font-weight: thin;
src: url("/assets/fonts/PaulGrotesk-Thin-Trail.otf"); format("opentype");
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 0px;
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
 border-top-style: initial;
 border-right-style: initial;
 border-bottom-style: initial;
 border-left-style: initial;
 border-top-color: initial;
 border-right-color: initial;
 border-bottom-color: initial;
 border-left-color: initial;
 border-image-source: initial;
 border-image-slice: initial;
 border-image-width: initial;
 border-image-outset: initial;
 border-image-repeat: initial;
 font-style: inherit;
 font-variant-ligatures: inherit;
 font-variant-caps: inherit;
 font-variant-numeric: inherit;
 font-weight: inherit;
 font-stretch: inherit;
 font-size: inherit;
 line-height: inherit;
 font-family: inherit;
 vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
 display: block;
}

header {
 background-image: initial;
 background-position-x: initial;
 background-position-y: initial;
 background-size: initial;
 background-repeat-x: initial;
 background-repeat-y: initial;
 background-attachment: initial;
 background-origin: initial;
 background-clip: initial;
 background-color: rgba(255, 255, 255, 0.901961);
 position: fixed;
 left: 0px;
 right: 0px;
 top: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 0px;
 z-index: 1001;
}
header > div, footer > div, .wrapper {
 max-width: 1500px;
 width: 90%;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
}
header .marque {
 display: inline-block;
 float: left;
 line-height: 3em;
 width: 12px;
 font-size: 18px;
}

header .marque img {
 display: block;
 margin-top: 12px;
}

ol, ul {
 list-style-type: none;
 list-style-position: initial;
 list-style-image: initial;
}
.social-icons {
 font-size: 15px;
 display: inline-block;
 line-height: 3em;
}

.header-social-icons {
 float: right;
 text-align: right;
}

.social-icons li {
 display: inline-block;
}
.icon-twitter::before {
 content: "";
}
.social-icons a {
 color: rgb(102, 102, 102);
 text-decoration: none;
 font-size: 1.2em;
 transition-duration: 0.3s;
 transition-timing-function: ease-out;
 transition-delay: initial;
 transition-property: all;
 border-bottom-width: 0px;
 border-bottom-style: initial;
 border-bottom-color: initial;
 padding-right: 20px;

}
.social-icons a:hover {
 color: rgb(82, 206, 201);

}
.icon-instagram::before {
 content: "";

}
.icon-facebook::before {
 content: "";

}

header nav {
 float: right;
 overflow-x: hidden;
 overflow-y: hidden;
 width: 340px;
}
header nav a {
 font-family: "sofia_prolight", arial;
 text-decoration: none;
 line-height: 3em;
 color: rgb(102, 102, 102);
 display: block;
 padding-top: 0px;
 padding-right: 0.6em;
 padding-bottom: 0px;
 padding-left: 0.6em;
 float: left;
 transition-duration: 0.3s;
 transition-timing-function: ease-out;
 transition-delay: initial;
 transition-property: color;
}

.masthead {
  padding-top: 290px;
  background: linear-gradient(rgb(126, 219, 212) 0%, rgb(126, 219, 212) 99%, white 100%);
  background-clip: border-box;
  background-color: padding-box;
  background-size: auto;
  display: block;
  font-style: normal;
  position: relative;
  vertical-align: baseline;
  padding-left: 567px;
}

.homepage-header {
  background-image: linear-gradient(rgb(126, 219, 212) 0%, rgb(126, 219, 212)  100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20%;
  font-family: 'Open Sans', arial;
  font-weight: 300;
}
.section-inner {
  position: relative;
  max-width: 1500px;
  width: 90%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
.home-page-intro-wrapper {
  overflow-x: visible;
  overflow-y: visible;

}
.home-page-intro {
  left: 0px;
  right: 0px;
  bottom: 3em;
  width: 100%;
  display: table;
}
.home-page-intro-inner {
  font-size: 1.5em;
  color: white;
  line-height: 1.4;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-left: 567px;
}
.home-page-intro-inner > * {
  max-width: 22em;
}
.home-page-intro-inner h1 {
  font-weight: normal;
  color: rgb(29, 97, 102);
}

.logo-1 {
  background-color: rgb(0,78,89);
  width: 300px;
  height: 300px;
  float: left;
  margin-left:50px;
  margin-bottom: 50px;
}

.logos {
  position: relative;
}

.logo-1 {
  color: white;
  background-color: rgb(0,78,89);
  width: 300px;
  height: 300px;
  float: left;
  margin-left:50px;
  margin-bottom: 50px;

}

.logo-2 {
  background-color: rgb(0,196,179);
  width: 200px;
  height: 200px;
  float: left;
  margin-top:100px;

}
.logo-3 {
  background-color: rgb(252,90,93);
  width: 100px;
  height: 100px;
  float: left;
  margin-top:200px;

}
.logo-4 {
  background-color: rgb(249,190,0);
  width: 50px;
  height: 50px;
  float: left;
  margin-top:250px;
}


.announcement {
  position: relative;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(24, 46, 66);
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  color: rgb(192, 196, 216);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Open Sans', arial;
  font-weight: 300;
}

.four.wide.column {
  padding: 400px;
}
.announcement a {
  color: white;
}

.announcement a:hover {
  text-decoration: underline;
}

.details {
  background-color: rgb(242, 242, 242);
  padding-top: 25px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
}

.h2-title {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.detail {
  padding-bottom: 40px;
}

.details {
  padding-top: 50px;
  padding-bottom: 50px;
}

.details h2 {
  color: rgb(202,204,205);
  font-family: 'Open Sans', arial;
  font-weight: 300;
  width: auto;
}

.details-inner {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.details-grid {

}

.news-item h2 {
  color: rgb(232, 57, 68);
  font-family: 'Open Sans', arial;
  font-weight: 300;
}

.post-meta {
  color: rgb(102,102,102);
  font-family: 'Open Sans', arial;
  font-weight: 300;
  margin-bottom: 15px;
}

.post-excerpt {
  margin-bottom: 10px;
}

.post-excerpt, .post-more {
  color: rgb(138,140,143);
  font-family: 'Open Sans', arial;
  font-weight: 300;
  line-height: 24px;
}

.post-excerpt:hover, .post-more:hover {
  color: rgb(168,170,173);
}

.participant {
  max-width: 180px;
  max-height: 180px;
  display: block;
  margin: 0 auto;

  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
}

.participant:hover {
    filter: none;
    -webkit-filter: none;
    -moz-filter:    none;
    -ms-filter:     none;
    -o-filter:      none;
    cursor: pointer;
}

.section-header {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  font-family: 'Open Sans', arial;
  font-weight: 400;
  color: rgb(92,92,92) !important;
}

p {
  padding-bottom: 8px !important;
}

.footer {
  background-color: rgb(38,45,53) !important;
  line-height: 22px !important;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;

}

.about-us {
  padding-top: 40px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 40px;
  line-height: 42px;
  font-family: 'Grotesk', arial;
  font-size: 32px;
  font-weight: normal;
  color: rgb(70,70,70);
}

.box {
  height: 0;
  padding-bottom: 33%;
  width: 33%;
  color: white;
  font-family: 'Grotesk-Thin';
  font-size: 24px;
  display: inline-block;
  position: relative;
  text-align: center;
  top: 50%;
}

.box-first {
  background-color: rgb(31,195,180)
}

.box-second {
  background-color: rgb(252,90,93)
}

.detail-text {
  font-family: 'Open Sans';
  font-size: 22px;
  line-height: 33px;
}
